---
import Layout from '@/layout/index.astro';
let songs = [];
---

<script></script>

<Layout>
    <aside> </aside>
    <main class="home"></main>
</Layout>

<style lang="scss">
    .home {
        height: 800px;
    }
</style>
