@use '../../style/extend.scss';
@use './dark.scss';
button {
    border: 0;
    background-color: transparent;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.layout-header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    background: linear-gradient(120deg, rgba(97, 192, 191, 0.208) 0, rgba(255, 182, 185, 0.208) 100%);
    backdrop-filter: blur(10px);
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: all 1s;
}

.layout-main {
    height: 100vh;
    background: url('../../public/imgs/home_bg.webp') left top no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .layout-main-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;

        .layout-main-typed-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 0 10px;
            height: 50px;
            border-radius: 5px;
            font-size: 20px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .layout-main-down {
            position: absolute;
            bottom: 10px;
            cursor: pointer;
        }
        .layout-main-down-icon {
            font-size: 40px;
            color: #fff !important;
        }
    }
    .layout-main-content {
        min-height: 100vh;
        padding: 0 150px;
    }
}

.layout-setting {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 20px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        margin-top: 5px;
        font-size: 20px;
        transition: all 0.5s;
        &:hover {
            @extend .layout-setting-icon-active;
        }
    }
    .layout-setting-icon {
        font-size: 25px;
    }
    .layout-setting-icon-active {
        background-color: rgba(0, 0, 0, 0.6);
        .layout-setting-icon {
            color: #fff;
        }
    }
    .layout-gear-container {
        &:hover {
            @extend .layout-setting-icon-active;
        }
        .layout-setting-icon {
            animation: rotate 2s linear infinite;
        }
    }
    .layout-scrollbar-progress {
        &:hover {
            .layout-scroll-up {
                display: flex;
            }
            .layout-scrollbar-progress-num {
                @extend .none;
            }
        }
        .layout-scroll-up {
            @extend .none;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    .layout-setting-other {
        position: fixed;
        bottom: 185px;
        right: -60px;
        transition: all .5s;
    }
}
