---
import Layout from '@layout/index.astro';
---
<Layout title="Welcome to Astro.">
    <main class="home" slot="content">123</main>
</Layout>

<style lang="scss">

    .home {
        height: 800px;
    }
</style>