---
import Layout from '@layout/index.astro';
// @ts-ignore
import Player from './components/player/index.vue';
import { getSongs } from '@apis/songs';
const percent = 0;

const songs = await getSongs();
---

<Layout>
    <aside>
        <Player client:only="vue" songs={songs} />
        <!-- <Slider client:only="vue" percent={percent} /> -->
    </aside>
    <main class="home"></main>
</Layout>

<style lang="scss">
    .home {
        height: 800px;
    }
</style>
