---
import Layout from '@/layout/index.astro';
import Player from '@/components/player/index.vue';
let songs = [];
---

<script></script>

<Layout>
    <aside>
        <Player client:only="vue" />
    </aside>
    <main class="home"></main>
</Layout>

<style lang="scss">
    .home {
        height: 800px;
    }
</style>
