.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    // user-select: none;
    box-sizing: border-box;

    .top-container {
        width: 100%;
        .player-singer-portrait {
            width: 100%;
            height: 140px;
            border-radius: 5px;
            object-fit: cover;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .player-title {
            display: flex;
            flex-direction: column;
            width: 100%;
            .player-song-name {
                margin-bottom: 5px;
                font-size: 20px;
                line-height: 1;
                font-weight: bold;
            }
            .player-singer-name {
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 1;
            }
            .player-lyric {
                width: 100%;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .player-song-progress {
            width: 100%;
            margin-bottom: 10px;
            .player-song-time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 5px;
                font-size: 12px;
                user-select: none;
            }
        }

        .player-opt-btns {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 10px;

            .player-opt-btn-container {
                position: relative;
                margin-right: 10px;

                .player-voice-slider {
                    position: absolute;
                    top: 0px;
                    bottom: 0;
                    left: 22px;
                    z-index: 5;
                    width: 50px;
                    margin: auto;
                }
            }

            .player-opt-btn {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .player-start-btns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .player-opt-btn {
            font-size: 22px;
            cursor: pointer;
        }
    }

    .player-audio {
        display: none;
    }
    .player-lyrics {
        position: absolute;
        width: 100%;
        padding: 15px 0;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        transform: translateY(-600px);
    }
    .translate-out {
        transform: translateY(-600px);
        transition: all 1s;
    }
    .translate-in {
        transform: translateY(0px);
        transition: all 1s;
    }
}
