---
import Body from './components/body.vue';
interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <Body client:only="vue">
        <slot />
    </Body>

    <script src="http://at.alicdn.com/t/c/font_4412576_14rl2yp6v4c.js"></script>

    <style is:global lang="scss">
        @use '../style/var.scss';
        @use '../style/animation.scss';
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</html>
